doctype html
html(lang= 'zh-tw')
  head 
    title Pug
    block javascrupt
    block stylesheeets
    
  body
    header
    h1 Pug - node template engine
    #container.col
      block contents
      
      h1 文字
      
     footer
